@font-face {
    font-family: Hoves;
    font-weight: 300;
    src: url(fonts/TTHoves-Regular.ttf);
}

@font-face {
    font-family: Hoves;
    font-weight: 400;
    src: url(fonts/TTHoves-Regular.ttf);
}

@font-face {
    font-family: Hoves;
    font-weight: 500;
    src: url(fonts/TTHoves-Medium.ttf);
}

@font-face {
    font-family: Hoves;
    font-weight: 700;
    src: url(fonts/TTHoves-Bold.ttf);
}
